@import "./../../styles/General.scss";

//DESKTOP

@media only screen and (min-width: $desktop) {
  .choose-wheel-teaser-two {
    display: flex;
    justify-content: center;
  }
}

//TABLET
.choose-wheels-title {
  grid-column: 1 / 5;
  grid-row: 1 / 1;

  display: flex;
  align-items: flex-end;
}

.wheels {
  grid-column: 1 / 13;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
}

.choose-wheels-teaser {
  background-color: transparent;
  box-shadow: $boxshadow;
  width: 150px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}
.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 10em;
  width: 10em;
  margin: 0 1em;

  img {
    padding: 20px 5px;
  }
  h4 {
    margin: 1em 0 0 0;
  }
}

.selected-wheels {
  background-color: $grey;
}

.choose-wheels-teaser:hover {
  .not-selected-wheels {
    background-color: $grey;
  }
}

/*.wheel-one {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
.wheel-two {
  grid-column: 3/4;
  grid-row: 2 / 4;
}
.wheel-three {
  grid-column: 4/5;
  grid-row: 2 / 4;
}
.wheel-four {
  grid-column: 5/6;
  grid-row: 2 / 4;
}*/

//MOBILE
@media only screen and (max-width: $mobile) {
  .choose-wheels-title {
    display: flex;
    align-items: flex-start;
    padding: 2em 2em 0 2em !important;
  }

  .wheels {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 -5.5em;
    transform: scale(0.8);
  }

  .choose-wheels-teaser {
    width: 180px;
    margin: 0 1em 0 0 !important;
  }
  .choose {
    padding: 1em;
    width: 10em;
  }
}
