@import "./../../styles/General.scss";

//DESKTOP

@media only screen and (min-width: $desktop) {
  .choose-wheel-teaser-two {
    display: flex;
    justify-content: center;
  }
}

//TABLET
.choose-wheels-title {
  grid-column: 1 / 5;
  grid-row: 1 / 2;

  display: flex;
  align-items: flex-end;
}

.choose-wheels-teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 10em;
  width: 10em;
  border: none;

  img {
    padding: 20px 5px;
  }

  margin: 0 1em;
  background-color: white;
}

.wheels {
  grid-column: 2 / 13;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.selected-wheels {
  background-color: #e5e5e5;
  max-height: 10em;
  width: 10em;

  img {
    padding: 20px 5px;
  }
  margin: 0 1em;
  box-shadow: 0px 4px 15px 0px #00000033;
  border-radius: 1px;
}

.choose-wheels-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 12em;

  img {
    height: 100px;
  }
  margin: 0 1em;

  h4 {
    margin: 1em 0 0 0;
  }
}

img {
  height: 100%;
}

.choose-wheels-teaser:hover {
  .not-selected-wheels {
    background-color: #e5e5e5;
    max-height: 10em;
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      padding: 20px 5px;
    }

    box-shadow: 0px 4px 15px 0px #00000033;
    border-radius: 1px;
  }
}

.wheel-one {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
.wheel-two {
  grid-column: 3/4;
  grid-row: 2 / 4;
}
.wheel-three {
  grid-column: 4/5;
  grid-row: 2 / 4;
}
.wheel-four {
  grid-column: 5/6;
  grid-row: 2 / 4;
}

//MOBILE
@media only screen and (max-width: $mobile) {
  .choose-wheel-title {
    display: flex;
    align-items: flex-end;
    padding: 2em 2em 0 2em;
  }

  .wheels {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
  }

  .choose-wheels-title {
    padding: 2em;
  }
}
