@import "./../../styles/General.scss";

//DESKTOP

@media only screen and (min-width: $desktop) {
}

//TABLET
.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  grid-column: 1 / 5;
  grid-row: 1 / 2;

  display: flex;
  align-items: flex-end;
  padding: 0 0 1em 0;
}

.teaser-copy {
  grid-column: 2 / 6;
  grid-row: 2 / 2;

  // display: flex;
  flex-direction: column;
  justify-content: center;
}

.image1 {
  background-image: url("./../../styles/images/screenshotwheel.png");
  background-position: center;
  background-size: cover;
}
.image2 {
  background-image: url("./../../styles/images/wheel.png");
  background-position: center;
  background-size: cover;
}
.image3 {
  background-image: url("./../../styles/images/wheel1.jpg");
  background-position: center;
  background-size: cover;
}
.image4 {
  background-image: url("./../../styles/images/wheel2.jpg");
  background-position: center;
  background-size: cover;
}

.teaser-slider {
  grid-column: 7/12;
  grid-row: 3/6;
  padding: 0 0 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .slideshow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .mySlides {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 200px;
        height: auto;
      }
    }
  }
}
.slider-button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 2em;

  padding: 0;
  margin: 0;
}
.slider-button:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

//MOBILE
@media only screen and (max-width: $mobile) {
  .title {
    display: flex;
    align-items: flex-end;
    padding: 2em 2em 0 2em;
  }
  .teaser-copy {
    display: flex;
    align-items: flex-end;
    padding: 0 4em;
  }

  .teaser-slider {
    margin: 2em;

    height: 20em;
  }
}
