@import "./../styles/General";

//DESKTOP

@media only screen and (min-width: 1060px) {
}

//MOBILE
@media only screen and (max-width: 600px) {
  .Nav {
    margin: 0;
    padding: 0;
  }
  .Navbar {
    margin: 0;
  }
}

//TABLET

.Nav {
  margin: 10px 5vh;
  -webkit-animation: fadeinNav 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinNav 1s; /* Firefox < 16 */
  -ms-animation: fadeinNav 1s; /* Internet Explorer */
  -o-animation: fadeinNav 1s; /* Opera < 12.1 */
  animation: fadeinNav 1s;
}

.Flyout {
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;

  .wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.flyout-body {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  text-align: left;
  padding: 0;

  height: 70vh;
  ul {
    list-style-type: none;
    padding: 2em 0 0 0;
  }
  a {
    font-family: $font-family;
    font-weight: 400;
    line-height: 1em;
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
    padding: 0.5em 0;
    text-decoration: none;
    color: black;
  }
  li {
    text-decoration: none;
    padding: 2em 5em;
    color: black;
  }
}

.Navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}
.logo {
  display: block;
  height: 60px;
  width: 106px;
}
.logo-link:hover {
  transform: scale(1.08);
  transition: all 0.5s ease;
  box-sizing: border-box;
}

.hamburger {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid black;
}

.hamburger:hover {
  transform: scale(1.08);
  transition: all 0.5s ease;
  background-color: red;
}

.hamburger-closed {
  .line {
    background-color: black;
    margin: 0.3rem 0;
    display: block;
    width: 2rem;
    height: 1px;
  }

  .linetwo {
    display: flex;
    width: 1.5rem;
  }

  .linethree {
    background: none;
  }
}

.hamburger-open {
  background-color: green;

  .line {
    // margin: 0;
    //width: 25px;
    // height: 1.5px;
    background-color: black;
    //margin: 6px 0;
    margin: 0.3rem 0;
    // color: black;
    display: block;
    width: 2rem;
    height: 1px;
  }

  .linetwo {
    display: flex;
    width: 1.5rem;
    transform: skewY(45deg);
  }

  .linethree {
    display: flex;
    width: 1.5rem;
    transform: skewX(45deg);
  }
  .hamburger-open:hover {
    transform: scale(1.08);
    transition: all 0.5s ease;
    background-color: red;
  }
}
